<a href="https://colab.research.google.com/github/Minh-A/Pytorch_DeepLearning/blob/main/LSTM_pytorch_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Library

In [4]:
# 구글드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action='ignore')
import torch
import torch.nn as nn
import torch.nn.functional as F
import torchvision
import torchvision.transforms as transforms
from torch.utils.data import Dataset,DataLoader
import torch.optim as optim
torch.manual_seed(1015) ###### <- 이거 뭐냐?(랜덤시드 같은 것)

# define 'device' to upload tensor in gpu
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")

#시간을 계산하는 함수
import time, datetime
def clock(start):
    sec = time.time() - start #현재시간 - 시스템초기시간
    times = str(datetime.timedelta(seconds = sec)).split(".") # 시간:분:초로 변환
    times = times[0]
    return times

# Data Load

In [6]:
train = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LSTM_pytorch(Dacon)/input/train.csv", encoding = 'euc-kr')
train['DateTime'] = pd.to_datetime(train.DateTime)  # 데이터 타입을 object에서 datetime으로
train['date'] = train.DateTime.dt.date  # 날짜만 뽑음
train  = train.groupby('date').sum().reset_index()  # 날짜별로 묶음

In [7]:
train

           date   사용자    세션  신규방문자    페이지뷰
0    2018-09-09   281   266     73    1826
1    2018-09-10   264   247     51    2092
2    2018-09-11   329   310     58    1998
3    2018-09-12   300   287     45    2595
4    2018-09-13   378   344     50    3845
..          ...   ...   ...    ...     ...
787  2020-11-04  4516  4472   1196  112683
788  2020-11-05  4155  4037   1044  102901
789  2020-11-06  3663  3576    825   88015
790  2020-11-07  2472  2417    531   57386
791  2020-11-08  2492  2420    522   50486

[792 rows x 5 columns]

In [56]:
train.describe()

               사용자           세션        신규방문자           페이지뷰
count   792.000000   792.000000   792.000000     792.000000
mean   1095.214646  1086.728535   268.070707   24236.194444
std     979.730110   960.880328   241.548288   28493.828455
min       1.000000     1.000000     1.000000       2.000000
25%     292.000000   294.750000    84.750000    2552.250000
50%     625.500000   649.000000   194.500000    8416.000000
75%    1739.250000  1696.500000   363.750000   44152.000000
max    5418.000000  5400.000000  1691.000000  155435.000000

In [81]:
train = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LSTM_pytorch(Dacon)/input/train.csv", encoding = 'euc-kr')

In [82]:
train

                  DateTime  사용자   세션  신규방문자  페이지뷰
0      2018-09-09 00:00:00   19   19      8   206
1      2018-09-09 01:00:00   20   19      9   259
2      2018-09-09 02:00:00   12    9      1    48
3      2018-09-09 03:00:00   10   10      2   102
4      2018-09-09 04:00:00    6    5      3    18
...                    ...  ...  ...    ...   ...
19003  2020-11-08 19:00:00  124  123     19  3128
19004  2020-11-08 20:00:00  166  159     29  4864
19005  2020-11-08 21:00:00  184  173     32  3426
19006  2020-11-08 22:00:00  163  155     34  2845
19007  2020-11-08 23:00:00  160  152     33  3293

[19008 rows x 5 columns]

# Data Preprocessing

In [89]:
train.shape

(792, 5)

In [ ]:
from sklearn.preprocessing import StandardScaler

#iloc만 해도 데이터 셋 자체가 바뀌어짐
# 표준화
train.iloc[:,1:]
scaler = StandardScaler()
scaler.fit(train.iloc[:,1:])
train.iloc[:,1:] = scaler.transform(train.iloc[:,1:])
train.iloc[:,1:].shape

(792, 4)

In [90]:
from sklearn.preprocessing import MinMaxScaler

# 정규화
mini = train.iloc[:,1:].min()
size = train.iloc[:,1:].max() - train.iloc[:,1:].min()


train.iloc[:,1:]
transformer = MinMaxScaler()
transformer.fit(train.iloc[:,1:])
train.iloc[:,1:] = transformer.transform(train.iloc[:,1:])

In [109]:
train

           date   사용자    세션  신규방문자    페이지뷰
0    2018-09-09   281   266     73    1826
1    2018-09-10   264   247     51    2092
2    2018-09-11   329   310     58    1998
3    2018-09-12   300   287     45    2595
4    2018-09-13   378   344     50    3845
..          ...   ...   ...    ...     ...
787  2020-11-04  4516  4472   1196  112683
788  2020-11-05  4155  4037   1044  102901
789  2020-11-06  3663  3576    825   88015
790  2020-11-07  2472  2417    531   57386
791  2020-11-08  2492  2420    522   50486

[792 rows x 5 columns]

In [37]:
# 전체 텐서 만들기
input_window = 24
output_window = 7

window_x = np.zeros((train.shape[0] - (input_window + output_window), input_window, 4))
window_y = np.zeros((train.shape[0] - (input_window + output_window), output_window, 4))

for start in range(train.shape[0] - (input_window + output_window)):
    end = start + input_window    
    window_x[start,:, :] = train.iloc[start : end                , 1: ].values
    window_y[start,:, :] = train.iloc[end   : end + output_window, 1: ].values

In [110]:
print(window_x.shape)
print(window_y.shape)

torch.Size([755, 30, 4])
torch.Size([755, 7, 4])

In [57]:
input_window = 30
output_window = 7

window_x = np.zeros((train.shape[0] - (input_window + output_window), input_window, 4))
window_y = np.zeros((train.shape[0] - (input_window + output_window), output_window, 4))

for start in range(train.shape[0] - (input_window + output_window)):
    end = start + input_window    
    window_x[start,:, :] = train.iloc[start : end                , 1: ].values
    window_y[start,:, :] = train.iloc[end   : end + output_window, 1: ].values

In [ ]:
train

           date       사용자        세션     신규방문자      페이지뷰
0    2018-09-09 -0.831585 -0.854682 -0.808095 -0.786990
1    2018-09-10 -0.848948 -0.874468 -0.899232 -0.777649
2    2018-09-11 -0.782561 -0.808862 -0.870234 -0.780950
3    2018-09-12 -0.812180 -0.832813 -0.924087 -0.759985
4    2018-09-13 -0.732516 -0.773455 -0.903374 -0.716088
..          ...       ...       ...       ...       ...
787  2020-11-04  3.493765  3.525320  3.844017  3.106030
788  2020-11-05  3.125064  3.072324  3.214345  2.762511
789  2020-11-06  2.622567  2.592253  2.307121  2.239752
790  2020-11-07  1.406158  1.385305  1.089204  1.164138
791  2020-11-08  1.426585  1.388429  1.051921  0.921827

[792 rows x 5 columns]

In [111]:
mini = train.iloc[:,1:].min()
size = train.iloc[:,1:].max() - train.iloc[:,1:].min()

mini
size

사용자        5417
세션         5399
신규방문자      1690
페이지뷰     155433
dtype: int64

In [112]:
print(mini)
print(size)

사용자      1
세션       1
신규방문자    1
페이지뷰     2
dtype: int64
사용자        5417
세션         5399
신규방문자      1690
페이지뷰     155433
dtype: int64

In [104]:
mini = train.iloc[:,1:].min()
size = train.iloc[:,1:].max() - train.iloc[:,1:].min()
train.iloc[:,1:] = (train.iloc[:,1:] -  mini) / size
train

           date       사용자        세션     신규방문자      페이지뷰
0    2018-09-09  0.051689  0.049083  0.042604  0.011735
1    2018-09-10  0.048551  0.045564  0.029586  0.013446
2    2018-09-11  0.060550  0.057233  0.033728  0.012842
3    2018-09-12  0.055197  0.052973  0.026036  0.016682
4    2018-09-13  0.069596  0.063530  0.028994  0.024724
..          ...       ...       ...       ...       ...
787  2020-11-04  0.833487  0.828116  0.707101  0.724949
788  2020-11-05  0.766845  0.747546  0.617160  0.662015
789  2020-11-06  0.676020  0.662160  0.487574  0.566244
790  2020-11-07  0.456157  0.447490  0.313609  0.369188
791  2020-11-08  0.459849  0.448046  0.308284  0.324796

[792 rows x 5 columns]

In [8]:
# 한번만!!!!!!!!!!!! 계속하면 0이됨
# scaling
mini = train.iloc[:,1:].min()
size = train.iloc[:,1:].max() - train.iloc[:,1:].min()
train.iloc[:,1:] = (train.iloc[:,1:] -  mini) / size

input_window = 30
output_window = 7

window_x = np.zeros((train.shape[0] - (input_window + output_window), input_window, 4))
window_y = np.zeros((train.shape[0] - (input_window + output_window), output_window, 4))

for start in range(train.shape[0] - (input_window + output_window)):
    end = start + input_window    
    window_x[start,:, :] = train.iloc[start : end                , 1: ].values
    window_y[start,:, :] = train.iloc[end   : end + output_window, 1: ].values

# Model

In [9]:
# Model 생성
class LSTM(nn.Module):
    def __init__(self, input_size, hidden_size):
        super(LSTM, self).__init__()
        self.hidden_size = hidden_size
        self.lstm = nn.LSTM(input_size = input_size,
                            hidden_size = hidden_size,
                            batch_first=True)
        self.hidden_lstm = nn.LSTM(input_size = hidden_size,
                                   hidden_size = hidden_size,
                                   batch_first=True)
        
        self.time_fc = nn.Linear(hidden_size, 4)
    
    def forward(self, x_time):
    
        out_time, _ = self.lstm(x_time)
        out_time, _ = self.hidden_lstm(out_time)
        out_time, _ = self.hidden_lstm(out_time)
        out_time, _ = self.hidden_lstm(out_time)
        
        
        out_time = self.time_fc(out_time[:,-7:, :])
        
        return out_time.view(-1,7,4)

  
model = LSTM(input_size = 4, hidden_size = 30).to(device)

In [11]:
model

LSTM(
  (lstm): LSTM(4, 30, batch_first=True)
  (hidden_lstm): LSTM(30, 30, batch_first=True)
  (time_fc): Linear(in_features=30, out_features=4, bias=True)
)

In [ ]:
# Model 생성33333333333333333333333333333333333333333
class LSTM(nn.Module):
    def __init__(self, input_size, hidden_size):                 #사용할 레이어를 정의함, 모델의 부품을 생성(__init__)
        super(LSTM, self).__init__()
        self.hidden_size = hidden_size

        self.lstm = nn.LSTM(input_size = input_size,   #인풋
                            hidden_size = 64,
                            batch_first=True)
        
        self.hidden_lstm = nn.LSTM(input_size = 64,    
                                   hidden_size = 32,
                                   batch_first=True)
        
        self.hidden_lstm4 = nn.LSTM(input_size = 32,
                                   hidden_size = 64,
                                   batch_first=True)
        
        self.time_fc = nn.Linear(hidden_size, 4)   #아웃풋

    
    def forward(self, x_time):                                    #위에 정의한 레이어들을 적절하게 배치하여 모델을 완성, 실질적으로 모델 생성(forward)
    
        out_time, _ = self.lstm(x_time) #인풋

        out_time, _ = self.hidden_lstm(out_time)
        out_time, _ = self.hidden_lstm4(out_time)

        out_time = self.time_fc(out_time[:,-7:, :])
        
        return out_time.view(-1,7,4) #아웃풋

  
model = LSTM(input_size = 4, hidden_size = 64).to(device)

In [ ]:
# 이거는 사용할 레이어들만 나옴, 모델의 구성부품만 나옴
model

LSTM(
  (lstm): LSTM(4, 64, batch_first=True)
  (hidden_lstm): LSTM(64, 32, batch_first=True)
  (hidden_lstm4): LSTM(32, 64, batch_first=True)
  (time_fc): Linear(in_features=64, out_features=4, bias=True)
)

* https://sanghyu.tistory.com/52

In [198]:
# Model 생성4444444444444444444444444444444444444
class GRU(nn.Module):
    def __init__(self, input_size, hidden_size, dropout=0.01, bidirectional=True):                 #사용할 레이어를 정의함, 모델의 부품을 생성(__init__)
        super(GRU, self).__init__()
        self.hidden_size = hidden_size

        self.lstm = nn.GRU(input_size = input_size,   #인풋
                            hidden_size = hidden_size,
                            batch_first=True)
        
        self.hidden_lstm = nn.GRU(input_size = 30,    
                                   hidden_size = 30,
                                   batch_first=True)
        
        self.time_fc = nn.Linear(hidden_size, 4)   #아웃풋
        self.fn = nn.Tanh()

    
    def forward(self, x_time):                                    #위에 정의한 레이어들을 적절하게 배치하여 모델을 완성, 실질적으로 모델 생성(forward)
    
        out_time, _ = self.lstm(x_time) #인풋

        out_time, _ = self.hidden_lstm(out_time)
        out_time, _ = self.hidden_lstm(out_time)
        out_time, _ = self.hidden_lstm(out_time)

        out_time = self.time_fc(out_time[:,-7:, :])
        
        return out_time.view(-1,7,4) #아웃풋

  
model = GRU(input_size = 4, hidden_size = 30).to(device)

In [199]:
model

GRU(
  (lstm): GRU(4, 30, batch_first=True)
  (hidden_lstm): GRU(30, 30, batch_first=True)
  (time_fc): Linear(in_features=30, out_features=4, bias=True)
  (fn): Tanh()
)

In [ ]:
# Model 생성2222222222222222222222222222222222222
# 결과는 4.7임 원래 코드는 4.3 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
class LSTM(nn.Module):
    def __init__(self, input_size, hidden_size):
        super(LSTM, self).__init__()
        self.hidden_size = hidden_size
        self.lstm = nn.LSTM(input_size = input_size,
                            hidden_size = hidden_size,
                            batch_first=True)
        self.hidden_lstm = nn.LSTM(input_size = hidden_size,
                                   hidden_size = hidden_size,
                                   batch_first=True)
        
        self.time_fc = nn.Linear(hidden_size, 4)
    
    def forward(self, x_time):
    
        out_time, _ = self.lstm(x_time)
        out_time, _ = self.hidden_lstm(out_time)
        out_time, _ = self.hidden_lstm(out_time)
        out_time, _ = self.hidden_lstm(out_time)
        
        
        out_time = self.time_fc(out_time[:,-7:, :])
        
        return out_time.view(-1,7,4)
    
model = LSTM(input_size = 4, hidden_size = 64).to(device)

In [ ]:
print(model)

LSTM(
  (lstm): LSTM(4, 64, batch_first=True)
  (hidden_lstm): LSTM(64, 64, batch_first=True)
  (time_fc): Linear(in_features=64, out_features=4, bias=True)
)

In [60]:
print(window_x.shape)
print(window_y.shape)

(755, 30, 4)
(755, 7, 4)

모델학습

In [114]:
window_x.shape

torch.Size([755, 30, 4])

In [121]:
window_x

array([[[0.05168913, 0.04908316, 0.04260355, 0.01173496],
        [0.04855086, 0.04556399, 0.0295858 , 0.01344631],
        [0.06055012, 0.05723282, 0.03372781, 0.01284155],
        ...,
        [0.01421451, 0.01370624, 0.01242604, 0.002181  ],
        [0.0182758 , 0.01778107, 0.03017751, 0.00308171],
        [0.01255307, 0.01240971, 0.01360947, 0.00156337]],

       [[0.04855086, 0.04556399, 0.0295858 , 0.01344631],
        [0.06055012, 0.05723282, 0.03372781, 0.01284155],
        [0.0551966 , 0.05297277, 0.0260355 , 0.01668243],
        ...,
        [0.0182758 , 0.01778107, 0.03017751, 0.00308171],
        [0.01255307, 0.01240971, 0.01360947, 0.00156337],
        [0.00978401, 0.00981663, 0.01301775, 0.00137037]],

       [[0.06055012, 0.05723282, 0.03372781, 0.01284155],
        [0.0551966 , 0.05297277, 0.0260355 , 0.01668243],
        [0.06959572, 0.06353028, 0.02899408, 0.02472448],
        ...,
        [0.01255307, 0.01240971, 0.01360947, 0.00156337],
        [0.00978401, 0.00981663, 0.01301775, 0.00137037],
        [0.01661436, 0.01555844, 0.01656805, 0.00352563]],

       ...,

       [[0.30884253, 0.3032043 , 0.2035503 , 0.2542832 ],
        [0.2338933 , 0.23170958, 0.13431953, 0.19472699],
        [0.27192173, 0.26690128, 0.16035503, 0.20210637],
        ...,
        [0.61491601, 0.60400074, 0.48284024, 0.49871006],
        [0.62986893, 0.61844786, 0.47869822, 0.56291135],
        [0.72973971, 0.73069087, 0.54497041, 0.69375229]],

       [[0.2338933 , 0.23170958, 0.13431953, 0.19472699],
        [0.27192173, 0.26690128, 0.16035503, 0.20210637],
        [0.29019753, 0.28486757, 0.17100592, 0.22417376],
        ...,
        [0.62986893, 0.61844786, 0.47869822, 0.56291135],
        [0.72973971, 0.73069087, 0.54497041, 0.69375229],
        [0.59793243, 0.58399704, 0.42307692, 0.58014064]],

       [[0.27192173, 0.26690128, 0.16035503, 0.20210637],
        [0.29019753, 0.28486757, 0.17100592, 0.22417376],
        [0.31087318, 0.30468605, 0.21183432, 0.22493936],
        ...,
        [0.72973971, 0.73069087, 0.54497041, 0.69375229],
        [0.59793243, 0.58399704, 0.42307692, 0.58014064],
        [0.37013107, 0.3745138 , 0.26390533, 0.33011008]]])

* https://sacko.tistory.com/38

In [12]:
# Model학습
window_x = torch.tensor(window_x).float().to(device)
window_y = torch.tensor(window_y).float().to(device)

# Train model
optimizer = torch.optim.Adam(model.parameters(), lr = 0.001)
criterion = nn.MSELoss(size_average = True)
num_epochs  = 700
train_error = []

for t in range(num_epochs):
    train_pred = model(window_x)
    loss = criterion(train_pred, window_y) ### trend
    train_error.append(loss)
    
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
    if t % 10 == 0 and t !=0:
        print(f"{t} Epochs train MSE: {loss.item():1.5f}")

10 Epochs train MSE: 0.04152
20 Epochs train MSE: 0.03147
30 Epochs train MSE: 0.02892
40 Epochs train MSE: 0.02799
50 Epochs train MSE: 0.02527
60 Epochs train MSE: 0.01433
70 Epochs train MSE: 0.01096
80 Epochs train MSE: 0.00983
90 Epochs train MSE: 0.00898
100 Epochs train MSE: 0.00867
110 Epochs train MSE: 0.00842
120 Epochs train MSE: 0.00830
130 Epochs train MSE: 0.00822
140 Epochs train MSE: 0.00818
150 Epochs train MSE: 0.00815
160 Epochs train MSE: 0.00812
170 Epochs train MSE: 0.00810
180 Epochs train MSE: 0.00809
190 Epochs train MSE: 0.00807
200 Epochs train MSE: 0.00806
210 Epochs train MSE: 0.00804
220 Epochs train MSE: 0.00803
230 Epochs train MSE: 0.00801
240 Epochs train MSE: 0.00800
250 Epochs train MSE: 0.00798
260 Epochs train MSE: 0.00796
270 Epochs train MSE: 0.00794
280 Epochs train MSE: 0.00792
290 Epochs train MSE: 0.00790
300 Epochs train MSE: 0.00788
310 Epochs train MSE: 0.00786
320 Epochs train MSE: 0.00783
330 Epochs train MSE: 0.00781
340 Epochs train MSE: 0.00778
350 Epochs train MSE: 0.00775
360 Epochs train MSE: 0.00772
370 Epochs train MSE: 0.00769
380 Epochs train MSE: 0.00766
390 Epochs train MSE: 0.00763
400 Epochs train MSE: 0.00759
410 Epochs train MSE: 0.00755
420 Epochs train MSE: 0.00750
430 Epochs train MSE: 0.00745
440 Epochs train MSE: 0.00739
450 Epochs train MSE: 0.00736
460 Epochs train MSE: 0.00729
470 Epochs train MSE: 0.00724
480 Epochs train MSE: 0.00714
490 Epochs train MSE: 0.00704
500 Epochs train MSE: 0.00695
510 Epochs train MSE: 0.00686
520 Epochs train MSE: 0.00681
530 Epochs train MSE: 0.00671
540 Epochs train MSE: 0.00665
550 Epochs train MSE: 0.00655
560 Epochs train MSE: 0.00656
570 Epochs train MSE: 0.00638
580 Epochs train MSE: 0.00628
590 Epochs train MSE: 0.00624
600 Epochs train MSE: 0.00605
610 Epochs train MSE: 0.00593
620 Epochs train MSE: 0.00570
630 Epochs train MSE: 0.00543
640 Epochs train MSE: 0.00512
650 Epochs train MSE: 0.00495
660 Epochs train MSE: 0.00481
670 Epochs train MSE: 0.00468
680 Epochs train MSE: 0.00454
690 Epochs train MSE: 0.00446

# Prediction & CSV

In [51]:
train_pred

tensor([[[43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         ...,
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131]],

        [[43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         ...,
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131]],

        [[43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         ...,
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131]],

        ...,

        [[43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         ...,
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131]],

        [[43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         ...,
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131]],

        [[43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         ...,
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131],
         [43.9217, 43.4527, 11.1772, 86.2131]]], device='cuda:0',
       grad_fn=<ViewBackward>)

In [ ]:
train_pred.shape

torch.Size([755, 7, 4])

In [ ]:
last_month = torch.tensor(window_x[-1,:,:][np.newaxis,...]).float().to(device)
last_month

tensor([[[0.2719, 0.2669, 0.1604, 0.2021],
         [0.2902, 0.2849, 0.1710, 0.2242],
         [0.3109, 0.3047, 0.2118, 0.2249],
         [0.5704, 0.5557, 0.4414, 0.4659],
         [0.5141, 0.5053, 0.3686, 0.4430],
         [0.5595, 0.5477, 0.4509, 0.4565],
         [0.4957, 0.4869, 0.3331, 0.3698],
         [0.3836, 0.3669, 0.1947, 0.3030],
         [0.3415, 0.3404, 0.2308, 0.2975],
         [0.3063, 0.2978, 0.1964, 0.2278],
         [0.4685, 0.4599, 0.3550, 0.3588],
         [0.5034, 0.5016, 0.4237, 0.3637],
         [0.4473, 0.4466, 0.3515, 0.3213],
         [0.3982, 0.3958, 0.3325, 0.2804],
         [0.3867, 0.3769, 0.2805, 0.2870],
         [0.3005, 0.2969, 0.2751, 0.1814],
         [0.3762, 0.3712, 0.3639, 0.2516],
         [0.4886, 0.4849, 0.3923, 0.3579],
         [0.5981, 0.6036, 0.6379, 0.5542],
         [0.4883, 0.4845, 0.4178, 0.4242],
         [0.5132, 0.5131, 0.4627, 0.4058],
         [0.4320, 0.4223, 0.3320, 0.3416],
         [0.3345, 0.3289, 0.2491, 0.2403],
         [0.2994, 0.2969, 0.1882, 0.2504],
         [0.5942, 0.5755, 0.4574, 0.5109],
         [0.6149, 0.6040, 0.4828, 0.4987],
         [0.6299, 0.6184, 0.4787, 0.5629],
         [0.7297, 0.7307, 0.5450, 0.6938],
         [0.5979, 0.5840, 0.4231, 0.5801],
         [0.3701, 0.3745, 0.2639, 0.3301]]], device='cuda:0')

In [ ]:
last_month.shape

torch.Size([1, 30, 4])

In [123]:
submission = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LSTM_pytorch(Dacon)/input/submission.csv", encoding = 'euc-kr')
last_month = torch.tensor(window_x[-1,:,:][np.newaxis,...]).float().to(device)

In [124]:
submission

      DateTime  사용자  세션  신규방문자  페이지뷰
0   2020-11-09    0   0      0     0
1   2020-11-10    0   0      0     0
2   2020-11-11    0   0      0     0
3   2020-11-12    0   0      0     0
4   2020-11-13    0   0      0     0
..         ...  ...  ..    ...   ...
56  2021-01-04    0   0      0     0
57  2021-01-05    0   0      0     0
58  2021-01-06    0   0      0     0
59  2021-01-07    0   0      0     0
60  2021-01-08    0   0      0     0

[61 rows x 5 columns]

In [ ]:
model(last_month)

tensor([[[0.3109, 0.3075, 0.2104, 0.2576],
         [0.8317, 0.8310, 0.7240, 0.7188],
         [0.8340, 0.8556, 0.7645, 0.7274],
         [0.8019, 0.8213, 0.6864, 0.6791],
         [0.8205, 0.8413, 0.6917, 0.7049],
         [0.7203, 0.7382, 0.5990, 0.6443],
         [0.3676, 0.3605, 0.2497, 0.3002]]], device='cuda:0',
       grad_fn=<ViewBackward>)

In [ ]:
next_week = model(last_month)
last_month = torch.cat([last_month[-7:], next_week], axis = 1)

In [46]:
last_month

tensor([[[1.7700e+02, 1.6600e+02, 4.0000e+01, 4.0460e+03],
         [1.4900e+02, 1.3800e+02, 2.1000e+01, 3.3930e+03],
         [1.2800e+02, 1.2900e+02, 3.2000e+01, 3.5970e+03],
         [1.2100e+02, 1.1800e+02, 3.0000e+01, 2.9140e+03],
         [1.4500e+02, 1.3800e+02, 2.7000e+01, 2.7160e+03],
         [1.6300e+02, 1.6200e+02, 2.7000e+01, 2.4030e+03],
         [1.2900e+02, 1.1900e+02, 2.7000e+01, 2.9460e+03],
         [1.5000e+02, 1.4900e+02, 3.1000e+01, 3.3650e+03],
         [1.2900e+02, 1.3300e+02, 2.2000e+01, 2.5710e+03],
         [9.1000e+01, 8.3000e+01, 1.6000e+01, 1.8230e+03],
         [6.2000e+01, 5.5000e+01, 1.2000e+01, 1.2710e+03],
         [3.0000e+01, 2.8000e+01, 8.0000e+00, 3.4500e+02],
         [1.7000e+01, 1.8000e+01, 1.0000e+00, 1.4800e+02],
         [1.9000e+01, 2.0000e+01, 5.0000e+00, 2.7500e+02],
         [1.7000e+01, 1.6000e+01, 7.0000e+00, 1.7000e+02],
         [1.6000e+01, 1.5000e+01, 3.0000e+00, 1.5700e+02],
         [2.2000e+01, 2.5000e+01, 7.0000e+00, 2.5200e+02],
         [4.3000e+01, 4.6000e+01, 1.1000e+01, 6.4000e+02],
         [9.0000e+01, 9.2000e+01, 2.2000e+01, 1.3740e+03],
         [1.1300e+02, 1.1400e+02, 3.1000e+01, 1.7890e+03],
         [1.1200e+02, 1.0200e+02, 3.0000e+01, 2.0210e+03],
         [1.3200e+02, 1.3000e+02, 3.2000e+01, 2.2420e+03],
         [1.3000e+02, 1.2900e+02, 2.8000e+01, 1.8430e+03],
         [1.7400e+02, 1.8100e+02, 3.4000e+01, 4.1910e+03]]], device='cuda:0')

In [50]:
pred_week = next_week.cpu().detach().numpy().reshape(output_window,4)
pred_week = pred_week * size.values + mini.values
pred_week = pred_week.astype(int)

print(pred_week)

NameError: ignored

In [ ]:
pred_week.shape

(7, 4)

In [ ]:
(len(submission) - output_window)//7 + 1

8

In [129]:
len(submission)//7

8

In [ ]:
# output_window는 일주일인 7일을 의미
output_window

7

In [126]:
(len(submission) - output_window)//7 + 2

9

In [140]:
last_month.shape

torch.Size([1, 30, 4])

In [139]:
last_month = torch.tensor(window_x[-1,:,:][np.newaxis,...]).float().to(device)
last_month

tensor([[[0.2719, 0.2669, 0.1604, 0.2021],
         [0.2902, 0.2849, 0.1710, 0.2242],
         [0.3109, 0.3047, 0.2118, 0.2249],
         [0.5704, 0.5557, 0.4414, 0.4659],
         [0.5141, 0.5053, 0.3686, 0.4430],
         [0.5595, 0.5477, 0.4509, 0.4565],
         [0.4957, 0.4869, 0.3331, 0.3698],
         [0.3836, 0.3669, 0.1947, 0.3030],
         [0.3415, 0.3404, 0.2308, 0.2975],
         [0.3063, 0.2978, 0.1964, 0.2278],
         [0.4685, 0.4599, 0.3550, 0.3588],
         [0.5034, 0.5016, 0.4237, 0.3637],
         [0.4473, 0.4466, 0.3515, 0.3213],
         [0.3982, 0.3958, 0.3325, 0.2804],
         [0.3867, 0.3769, 0.2805, 0.2870],
         [0.3005, 0.2969, 0.2751, 0.1814],
         [0.3762, 0.3712, 0.3639, 0.2516],
         [0.4886, 0.4849, 0.3923, 0.3579],
         [0.5981, 0.6036, 0.6379, 0.5542],
         [0.4883, 0.4845, 0.4178, 0.4242],
         [0.5132, 0.5131, 0.4627, 0.4058],
         [0.4320, 0.4223, 0.3320, 0.3416],
         [0.3345, 0.3289, 0.2491, 0.2403],
         [0.2994, 0.2969, 0.1882, 0.2504],
         [0.5942, 0.5755, 0.4574, 0.5109],
         [0.6149, 0.6040, 0.4828, 0.4987],
         [0.6299, 0.6184, 0.4787, 0.5629],
         [0.7297, 0.7307, 0.5450, 0.6938],
         [0.5979, 0.5840, 0.4231, 0.5801],
         [0.3701, 0.3745, 0.2639, 0.3301]]], device='cuda:0')

In [160]:
last_month = torch.cat([last_month[-7:], next_week], axis = 1)
last_month

tensor([[[0.3629, 0.3644, 0.2732, 0.3200],
         [0.7821, 0.7970, 0.6833, 0.7038],
         [0.8446, 0.8400, 0.7563, 0.7715],
         [0.8275, 0.8262, 0.7524, 0.7531],
         [0.8854, 0.8948, 0.8303, 0.8005],
         [0.7381, 0.7399, 0.6661, 0.6361],
         [0.2763, 0.2613, 0.2123, 0.2185],
         [0.2798, 0.2842, 0.2000, 0.2583],
         [0.8492, 0.8798, 0.7275, 0.7673],
         [0.5630, 0.5577, 0.4222, 0.4592],
         [0.4542, 0.4542, 0.3271, 0.3638],
         [0.4400, 0.4412, 0.3266, 0.3600],
         [0.3790, 0.3750, 0.2696, 0.3062],
         [0.2932, 0.2870, 0.1911, 0.2293],
         [0.3243, 0.3246, 0.2110, 0.2584],
         [0.5550, 0.5592, 0.4398, 0.4792],
         [0.4681, 0.4658, 0.3506, 0.3788],
         [0.4159, 0.4135, 0.3005, 0.3303],
         [0.3720, 0.3687, 0.2568, 0.2931],
         [0.2940, 0.2897, 0.1821, 0.2242],
         [0.2757, 0.2763, 0.1641, 0.2043],
         [0.3125, 0.3151, 0.1988, 0.2288],
         [0.4687, 0.4707, 0.3672, 0.3770],
         [0.5105, 0.5105, 0.4232, 0.4160],
         [0.4923, 0.4895, 0.4032, 0.3986],
         [0.4334, 0.4234, 0.3462, 0.3445],
         [0.3311, 0.3184, 0.2456, 0.2464],
         [0.3128, 0.3125, 0.2227, 0.2325],
         [0.4754, 0.4866, 0.3821, 0.3936],
         [0.6386, 0.6530, 0.5639, 0.5606],
         [0.5105, 0.5105, 0.4232, 0.4160],
         [0.4923, 0.4895, 0.4032, 0.3986],
         [0.4334, 0.4234, 0.3462, 0.3445],
         [0.3311, 0.3184, 0.2456, 0.2464],
         [0.3128, 0.3125, 0.2227, 0.2325],
         [0.4754, 0.4866, 0.3821, 0.3936],
         [0.6386, 0.6530, 0.5639, 0.5606]]], device='cuda:0',
       grad_fn=<CatBackward>)

In [155]:
last_month[0:]

tensor([[[0.2719, 0.2669, 0.1604, 0.2021],
         [0.2902, 0.2849, 0.1710, 0.2242],
         [0.3109, 0.3047, 0.2118, 0.2249],
         [0.5704, 0.5557, 0.4414, 0.4659],
         [0.5141, 0.5053, 0.3686, 0.4430],
         [0.5595, 0.5477, 0.4509, 0.4565],
         [0.4957, 0.4869, 0.3331, 0.3698],
         [0.3836, 0.3669, 0.1947, 0.3030],
         [0.3415, 0.3404, 0.2308, 0.2975],
         [0.3063, 0.2978, 0.1964, 0.2278],
         [0.4685, 0.4599, 0.3550, 0.3588],
         [0.5034, 0.5016, 0.4237, 0.3637],
         [0.4473, 0.4466, 0.3515, 0.3213],
         [0.3982, 0.3958, 0.3325, 0.2804],
         [0.3867, 0.3769, 0.2805, 0.2870],
         [0.3005, 0.2969, 0.2751, 0.1814],
         [0.3762, 0.3712, 0.3639, 0.2516],
         [0.4886, 0.4849, 0.3923, 0.3579],
         [0.5981, 0.6036, 0.6379, 0.5542],
         [0.4883, 0.4845, 0.4178, 0.4242],
         [0.5132, 0.5131, 0.4627, 0.4058],
         [0.4320, 0.4223, 0.3320, 0.3416],
         [0.3345, 0.3289, 0.2491, 0.2403],
         [0.2994, 0.2969, 0.1882, 0.2504],
         [0.5942, 0.5755, 0.4574, 0.5109],
         [0.6149, 0.6040, 0.4828, 0.4987],
         [0.6299, 0.6184, 0.4787, 0.5629],
         [0.7297, 0.7307, 0.5450, 0.6938],
         [0.5979, 0.5840, 0.4231, 0.5801],
         [0.3701, 0.3745, 0.2639, 0.3301]]], device='cuda:0')

In [161]:
last_month[:,7:,:]

tensor([[[0.2798, 0.2842, 0.2000, 0.2583],
         [0.8492, 0.8798, 0.7275, 0.7673],
         [0.5630, 0.5577, 0.4222, 0.4592],
         [0.4542, 0.4542, 0.3271, 0.3638],
         [0.4400, 0.4412, 0.3266, 0.3600],
         [0.3790, 0.3750, 0.2696, 0.3062],
         [0.2932, 0.2870, 0.1911, 0.2293],
         [0.3243, 0.3246, 0.2110, 0.2584],
         [0.5550, 0.5592, 0.4398, 0.4792],
         [0.4681, 0.4658, 0.3506, 0.3788],
         [0.4159, 0.4135, 0.3005, 0.3303],
         [0.3720, 0.3687, 0.2568, 0.2931],
         [0.2940, 0.2897, 0.1821, 0.2242],
         [0.2757, 0.2763, 0.1641, 0.2043],
         [0.3125, 0.3151, 0.1988, 0.2288],
         [0.4687, 0.4707, 0.3672, 0.3770],
         [0.5105, 0.5105, 0.4232, 0.4160],
         [0.4923, 0.4895, 0.4032, 0.3986],
         [0.4334, 0.4234, 0.3462, 0.3445],
         [0.3311, 0.3184, 0.2456, 0.2464],
         [0.3128, 0.3125, 0.2227, 0.2325],
         [0.4754, 0.4866, 0.3821, 0.3936],
         [0.6386, 0.6530, 0.5639, 0.5606],
         [0.5105, 0.5105, 0.4232, 0.4160],
         [0.4923, 0.4895, 0.4032, 0.3986],
         [0.4334, 0.4234, 0.3462, 0.3445],
         [0.3311, 0.3184, 0.2456, 0.2464],
         [0.3128, 0.3125, 0.2227, 0.2325],
         [0.4754, 0.4866, 0.3821, 0.3936],
         [0.6386, 0.6530, 0.5639, 0.5606]]], device='cuda:0',
       grad_fn=<SliceBackward>)

In [171]:
train.iloc[-30:,1:]

          사용자        세션     신규방문자      페이지뷰
762  0.341517  0.340433  0.230769  0.297459
763  0.306258  0.297833  0.196450  0.227847
764  0.468525  0.459900  0.355030  0.358836
765  0.503415  0.501574  0.423669  0.363668
766  0.447296  0.446564  0.351479  0.321251
767  0.398191  0.395814  0.332544  0.280404
768  0.386745  0.376922  0.280473  0.286966
769  0.300535  0.296907  0.275148  0.181422
770  0.376223  0.371180  0.363905  0.251613
771  0.488647  0.484905  0.392308  0.357858
772  0.598117  0.603630  0.637870  0.554155
773  0.488278  0.484534  0.417751  0.424163
774  0.513199  0.513058  0.462722  0.405808
775  0.431973  0.422300  0.331953  0.341646
776  0.334502  0.328950  0.249112  0.240264
777  0.299428  0.296907  0.188166  0.250378
778  0.594240  0.575477  0.457396  0.510850
779  0.614916  0.604001  0.482840  0.498710
780  0.629869  0.618448  0.478698  0.562911
781  0.729740  0.730691  0.544970  0.693752
782  0.597932  0.583997  0.423077  0.580141
783  0.370131  0.374514  0.263905  0.330110
784  0.368100  0.365994  0.249112  0.308609
785  0.878161  0.873495  0.717160  0.774745
786  1.000000  0.982219  0.901183  0.970746
787  0.833487  0.828116  0.707101  0.724949
788  0.766845  0.747546  0.617160  0.662015
789  0.676020  0.662160  0.487574  0.566244
790  0.456157  0.447490  0.313609  0.369188
791  0.459849  0.448046  0.308284  0.324796

In [172]:
train

           date       사용자        세션     신규방문자      페이지뷰
0    2018-09-09  0.051689  0.049083  0.042604  0.011735
1    2018-09-10  0.048551  0.045564  0.029586  0.013446
2    2018-09-11  0.060550  0.057233  0.033728  0.012842
3    2018-09-12  0.055197  0.052973  0.026036  0.016682
4    2018-09-13  0.069596  0.063530  0.028994  0.024724
..          ...       ...       ...       ...       ...
787  2020-11-04  0.833487  0.828116  0.707101  0.724949
788  2020-11-05  0.766845  0.747546  0.617160  0.662015
789  2020-11-06  0.676020  0.662160  0.487574  0.566244
790  2020-11-07  0.456157  0.447490  0.313609  0.369188
791  2020-11-08  0.459849  0.448046  0.308284  0.324796

[792 rows x 5 columns]

In [178]:
print("\n", "dl")

 dl

In [180]:
size.values

array([  5417,   5399,   1690, 155433])

In [15]:
submission = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LSTM_pytorch(Dacon)/input/submission.csv", encoding = 'euc-kr')

#last_month = torch.tensor(window_x[-1,:,:][np.newaxis,...]).float().to(device) <- 수정 전
last_month = train.iloc[-30:,1:].values[np.newaxis,...] # <- 수정 후
last_month = torch.tensor(last_month).float().to(device) # <- 수정 후

for start in range((len(submission) - output_window)//7 + 2):
    start = start * 7
    print("\n", start, "\n")
    
    next_week = model(last_month)
    print(next_week, "아이후야 예측")

    print(last_month[:,7:,:], "아이고 합치기")

    #last_month = torch.cat([last_month[-7:], next_week], axis = 1) <- 수정 전
    last_month = torch.cat([last_month[:,7:,:], next_week], axis = 1)# <- 수정 후

    pred_week = next_week.cpu().detach().numpy().reshape(output_window,4)

    print(pred_week,"1")

    pred_week = pred_week * size.values + mini.values
    print(pred_week,"2")
    pred_week = pred_week.astype(int)
    print(pred_week,"3")

    if start/7 == (len(submission) - output_window)//7 + 1:
        submission.iloc[start :, 1:] = pred_week[-submission.iloc[start :, 1:].shape[0]:,:]
        print(submission.iloc[start :, 1:].shape[0])
    else:
        submission.iloc[start : start + output_window, 1:] = pred_week
        print(submission.iloc[start : start + output_window, 1:])
submission

 0

tensor([[[0.4957, 0.5085, 0.3844, 0.4302],
         [0.5938, 0.6083, 0.5013, 0.5265],
         [0.5158, 0.5209, 0.4269, 0.4463],
         [0.3549, 0.3560, 0.2717, 0.2904],
         [0.2513, 0.2383, 0.1698, 0.1680],
         [0.2337, 0.2035, 0.1332, 0.1282],
         [0.2955, 0.2676, 0.1791, 0.1916]]], device='cuda:0',
       grad_fn=<ViewBackward>) 아이후야 예측
tensor([[[0.3005, 0.2969, 0.2751, 0.1814],
         [0.3762, 0.3712, 0.3639, 0.2516],
         [0.4886, 0.4849, 0.3923, 0.3579],
         [0.5981, 0.6036, 0.6379, 0.5542],
         [0.4883, 0.4845, 0.4178, 0.4242],
         [0.5132, 0.5131, 0.4627, 0.4058],
         [0.4320, 0.4223, 0.3320, 0.3416],
         [0.3345, 0.3289, 0.2491, 0.2403],
         [0.2994, 0.2969, 0.1882, 0.2504],
         [0.5942, 0.5755, 0.4574, 0.5109],
         [0.6149, 0.6040, 0.4828, 0.4987],
         [0.6299, 0.6184, 0.4787, 0.5629],
         [0.7297, 0.7307, 0.5450, 0.6938],
         [0.5979, 0.5840, 0.4231, 0.5801],
         [0.3701, 0.3745, 0.2639, 0.3301],
         [0.3681, 0.3660, 0.2491, 0.3086],
         [0.8782, 0.8735, 0.7172, 0.7747],
         [1.0000, 0.9822, 0.9012, 0.9707],
         [0.8335, 0.8281, 0.7071, 0.7249],
         [0.7668, 0.7475, 0.6172, 0.6620],
         [0.6760, 0.6622, 0.4876, 0.5662],
         [0.4562, 0.4475, 0.3136, 0.3692],
         [0.4598, 0.4480, 0.3083, 0.3248]]], device='cuda:0') 아이고 합치기
[[0.4956726  0.50848347 0.38436544 0.4302339 ]
 [0.59376705 0.6082994  0.50133336 0.52646875]
 [0.51582503 0.5209266  0.4268956  0.44626772]
 [0.3548566  0.35597086 0.27174616 0.29038563]
 [0.25125474 0.23830162 0.16979146 0.16797829]
 [0.23365223 0.20345175 0.13316849 0.1281743 ]
 [0.29548427 0.26757434 0.17912138 0.1915805 ]] 1
[[ 2686.05854669  2746.30225176   650.57759261 66874.54512256]
 [ 3217.43609321  3285.20832336   848.25337148 81832.61781168]
 [ 2795.22420478  2813.48268497   722.4535448  69366.73115027]
 [ 1923.25825799  1922.88667059   460.25100803 45137.51020399]
 [ 1362.04691237  1287.59044577   287.94756746 26111.36904335]
 [ 1266.694152    1099.43601263   226.05474597 19924.51674318]
 [ 1601.63831565  1445.63386223   303.71512389 29779.93250605]] 2
[[ 2686  2746   650 66874]
 [ 3217  3285   848 81832]
 [ 2795  2813   722 69366]
 [ 1923  1922   460 45137]
 [ 1362  1287   287 26111]
 [ 1266  1099   226 19924]
 [ 1601  1445   303 29779]] 3
    사용자    세션  신규방문자   페이지뷰
0  2686  2746    650  66874
1  3217  3285    848  81832
2  2795  2813    722  69366
3  1923  1922    460  45137
4  1362  1287    287  26111
5  1266  1099    226  19924
6  1601  1445    303  29779

 7

tensor([[[0.4183, 0.4000, 0.3013, 0.3221],
         [0.4885, 0.4752, 0.3855, 0.3969],
         [0.4577, 0.4404, 0.3584, 0.3682],
         [0.3660, 0.3426, 0.2657, 0.2770],
         [0.3043, 0.2730, 0.1998, 0.2064],
         [0.3174, 0.2801, 0.1990, 0.2118],
         [0.3996, 0.3648, 0.2703, 0.2976]]], device='cuda:0',
       grad_fn=<ViewBackward>) 아이후야 예측
tensor([[[0.3345, 0.3289, 0.2491, 0.2403],
         [0.2994, 0.2969, 0.1882, 0.2504],
         [0.5942, 0.5755, 0.4574, 0.5109],
         [0.6149, 0.6040, 0.4828, 0.4987],
         [0.6299, 0.6184, 0.4787, 0.5629],
         [0.7297, 0.7307, 0.5450, 0.6938],
         [0.5979, 0.5840, 0.4231, 0.5801],
         [0.3701, 0.3745, 0.2639, 0.3301],
         [0.3681, 0.3660, 0.2491, 0.3086],
         [0.8782, 0.8735, 0.7172, 0.7747],
         [1.0000, 0.9822, 0.9012, 0.9707],
         [0.8335, 0.8281, 0.7071, 0.7249],
         [0.7668, 0.7475, 0.6172, 0.6620],
         [0.6760, 0.6622, 0.4876, 0.5662],
         [0.4562, 0.4475, 0.3136, 0.3692],
         [0.4598, 0.4480, 0.3083, 0.3248],
         [0.4957, 0.5085, 0.3844, 0.4302],
         [0.5938, 0.6083, 0.5013, 0.5265],
         [0.5158, 0.5209, 0.4269, 0.4463],
         [0.3549, 0.3560, 0.2717, 0.2904],
         [0.2513, 0.2383, 0.1698, 0.1680],
         [0.2337, 0.2035, 0.1332, 0.1282],
         [0.2955, 0.2676, 0.1791, 0.1916]]], device='cuda:0',
       grad_fn=<SliceBackward>) 아이고 합치기
[[0.41829512 0.3999559  0.3013483  0.3221092 ]
 [0.4884696  0.4751549  0.38554144 0.39689898]
 [0.45773226 0.44039267 0.35844675 0.36820716]
 [0.36596325 0.34260035 0.265663   0.276954  ]
 [0.3043434  0.27295187 0.19980246 0.20640281]
 [0.3174171  0.28012642 0.19901198 0.21184835]
 [0.39958152 0.36480287 0.27030647 0.29762965]] 1
[[ 2266.90463921  2160.36189613   510.27862495 50068.39813492]
 [ 2647.03982687  2566.36134025   652.56503201 61693.19992137]
 [ 2480.53565365  2378.68004161   606.77500254 57233.54298085]
 [ 1983.42292741  1850.69926596   449.97046655 43049.79034024]
 [ 1649.62821072  1474.66715237   338.6661545  32083.80772236]
 [ 1720.44835037  1513.40255585   337.33024871 32930.22433361]
 [ 2165.53310332  1970.57067987   457.81793094 46263.47007352]] 2
[[ 2266  2160   510 50068]
 [ 2647  2566   652 61693]
 [ 2480  2378   606 57233]
 [ 1983  1850   449 43049]
 [ 1649  1474   338 32083]
 [ 1720  1513   337 32930]
 [ 2165  1970   457 46263]] 3
     사용자    세션  신규방문자   페이지뷰
7   2266  2160    510  50068
8   2647  2566    652  61693
9   2480  2378    606  57233
10  1983  1850    449  43049
11  1649  1474    338  32083
12  1720  1513    337  32930
13  2165  1970    457  46263

 14

tensor([[[0.4977, 0.4682, 0.3696, 0.4022],
         [0.5329, 0.5099, 0.4118, 0.4432],
         [0.4870, 0.4682, 0.3704, 0.4038],
         [0.4056, 0.3903, 0.2958, 0.3266],
         [0.3550, 0.3395, 0.2487, 0.2723],
         [0.3789, 0.3631, 0.2678, 0.2940],
         [0.4727, 0.4598, 0.3593, 0.3901]]], device='cuda:0',
       grad_fn=<ViewBackward>) 아이후야 예측
tensor([[[0.3701, 0.3745, 0.2639, 0.3301],
         [0.3681, 0.3660, 0.2491, 0.3086],
         [0.8782, 0.8735, 0.7172, 0.7747],
         [1.0000, 0.9822, 0.9012, 0.9707],
         [0.8335, 0.8281, 0.7071, 0.7249],
         [0.7668, 0.7475, 0.6172, 0.6620],
         [0.6760, 0.6622, 0.4876, 0.5662],
         [0.4562, 0.4475, 0.3136, 0.3692],
         [0.4598, 0.4480, 0.3083, 0.3248],
         [0.4957, 0.5085, 0.3844, 0.4302],
         [0.5938, 0.6083, 0.5013, 0.5265],
         [0.5158, 0.5209, 0.4269, 0.4463],
         [0.3549, 0.3560, 0.2717, 0.2904],
         [0.2513, 0.2383, 0.1698, 0.1680],
         [0.2337, 0.2035, 0.1332, 0.1282],
         [0.2955, 0.2676, 0.1791, 0.1916],
         [0.4183, 0.4000, 0.3013, 0.3221],
         [0.4885, 0.4752, 0.3855, 0.3969],
         [0.4577, 0.4404, 0.3584, 0.3682],
         [0.3660, 0.3426, 0.2657, 0.2770],
         [0.3043, 0.2730, 0.1998, 0.2064],
         [0.3174, 0.2801, 0.1990, 0.2118],
         [0.3996, 0.3648, 0.2703, 0.2976]]], device='cuda:0',
       grad_fn=<SliceBackward>) 아이고 합치기
[[0.49766892 0.46823856 0.36956936 0.40216526]
 [0.5328553  0.5099284  0.41176382 0.44322735]
 [0.4869749  0.46819434 0.3703982  0.4037504 ]
 [0.40556556 0.390342   0.2957764  0.326617  ]
 [0.35500446 0.33953363 0.2486639  0.27225375]
 [0.37893045 0.36309192 0.2678478  0.29402894]
 [0.4726836  0.45979515 0.35933542 0.39005312]] 1
[[ 2696.87255019  2529.0199981    625.57222044 62511.7534624 ]
 [ 2887.47701001  2754.10346013   696.88085085 68894.15680319]
 [ 2638.94300622  2528.78121844   626.97294718 62758.13434002]
 [ 2197.94863778  2108.45644259   500.86211091 50769.06054759]
 [ 1924.05915776  1834.14205235   421.24199486 42319.2173965 ]
 [ 2053.66624486  1961.33325365   453.6627925  45703.79989165]
 [ 2561.52710742  2483.43399963   608.27686405 60629.12710389]] 2
[[ 2696  2529   625 62511]
 [ 2887  2754   696 68894]
 [ 2638  2528   626 62758]
 [ 2197  2108   500 50769]
 [ 1924  1834   421 42319]
 [ 2053  1961   453 45703]
 [ 2561  2483   608 60629]] 3
     사용자    세션  신규방문자   페이지뷰
14  2696  2529    625  62511
15  2887  2754    696  68894
16  2638  2528    626  62758
17  2197  2108    500  50769
18  1924  1834    421  42319
19  2053  1961    453  45703
20  2561  2483    608  60629

 21

tensor([[[0.5716, 0.5613, 0.4632, 0.4840],
         [0.5861, 0.5724, 0.4826, 0.4918],
         [0.5049, 0.4875, 0.4036, 0.4101],
         [0.3877, 0.3751, 0.2967, 0.2970],
         [0.3191, 0.3090, 0.2301, 0.2232],
         [0.3481, 0.3391, 0.2422, 0.2496],
         [0.4618, 0.4574, 0.3383, 0.3636]]], device='cuda:0',
       grad_fn=<ViewBackward>) 아이후야 예측
tensor([[[0.4562, 0.4475, 0.3136, 0.3692],
         [0.4598, 0.4480, 0.3083, 0.3248],
         [0.4957, 0.5085, 0.3844, 0.4302],
         [0.5938, 0.6083, 0.5013, 0.5265],
         [0.5158, 0.5209, 0.4269, 0.4463],
         [0.3549, 0.3560, 0.2717, 0.2904],
         [0.2513, 0.2383, 0.1698, 0.1680],
         [0.2337, 0.2035, 0.1332, 0.1282],
         [0.2955, 0.2676, 0.1791, 0.1916],
         [0.4183, 0.4000, 0.3013, 0.3221],
         [0.4885, 0.4752, 0.3855, 0.3969],
         [0.4577, 0.4404, 0.3584, 0.3682],
         [0.3660, 0.3426, 0.2657, 0.2770],
         [0.3043, 0.2730, 0.1998, 0.2064],
         [0.3174, 0.2801, 0.1990, 0.2118],
         [0.3996, 0.3648, 0.2703, 0.2976],
         [0.4977, 0.4682, 0.3696, 0.4022],
         [0.5329, 0.5099, 0.4118, 0.4432],
         [0.4870, 0.4682, 0.3704, 0.4038],
         [0.4056, 0.3903, 0.2958, 0.3266],
         [0.3550, 0.3395, 0.2487, 0.2723],
         [0.3789, 0.3631, 0.2678, 0.2940],
         [0.4727, 0.4598, 0.3593, 0.3901]]], device='cuda:0',
       grad_fn=<SliceBackward>) 아이고 합치기
[[0.57156396 0.56125563 0.4631872  0.48400903]
 [0.58609873 0.572416   0.48264346 0.49181718]
 [0.50486803 0.48747817 0.40362808 0.4100899 ]
 [0.3876889  0.3750891  0.29671618 0.29699826]
 [0.31910747 0.30904338 0.2301153  0.2232072 ]
 [0.34808022 0.33909816 0.24221411 0.24957776]
 [0.46184233 0.45735565 0.3383438  0.36355302]] 1
[[ 3097.16196656  3031.21916705   783.78634757 75232.97516847]
 [ 3175.89682347  3091.47402459   816.6674394  76446.61917037]
 [ 2735.87012148  2632.89462265   683.13145703 63743.50498575]
 [ 2101.11079839  2026.10609919   502.45034999 46165.33092046]
 [ 1729.60518068  1669.52519587   389.89484763 34695.76557776]
 [ 1886.55054003  1831.79094154   410.34185177 38794.62007833]
 [ 2502.79989246  2470.26314506   572.8010205  56510.13615009]] 2
[[ 3097  3031   783 75232]
 [ 3175  3091   816 76446]
 [ 2735  2632   683 63743]
 [ 2101  2026   502 46165]
 [ 1729  1669   389 34695]
 [ 1886  1831   410 38794]
 [ 2502  2470   572 56510]] 3
     사용자    세션  신규방문자   페이지뷰
21  3097  3031    783  75232
22  3175  3091    816  76446
23  2735  2632    683  63743
24  2101  2026    502  46165
25  1729  1669    389  34695
26  1886  1831    410  38794
27  2502  2470    572  56510

 28

tensor([[[0.5443, 0.5353, 0.4064, 0.4876],
         [0.6133, 0.6033, 0.4761, 0.5443],
         [0.6002, 0.5863, 0.4653, 0.5301],
         [0.5296, 0.5186, 0.4066, 0.4740],
         [0.4601, 0.4574, 0.3555, 0.4200],
         [0.4552, 0.4584, 0.3625, 0.4206],
         [0.5253, 0.5308, 0.4368, 0.4868]]], device='cuda:0',
       grad_fn=<ViewBackward>) 아이후야 예측
tensor([[[0.2337, 0.2035, 0.1332, 0.1282],
         [0.2955, 0.2676, 0.1791, 0.1916],
         [0.4183, 0.4000, 0.3013, 0.3221],
         [0.4885, 0.4752, 0.3855, 0.3969],
         [0.4577, 0.4404, 0.3584, 0.3682],
         [0.3660, 0.3426, 0.2657, 0.2770],
         [0.3043, 0.2730, 0.1998, 0.2064],
         [0.3174, 0.2801, 0.1990, 0.2118],
         [0.3996, 0.3648, 0.2703, 0.2976],
         [0.4977, 0.4682, 0.3696, 0.4022],
         [0.5329, 0.5099, 0.4118, 0.4432],
         [0.4870, 0.4682, 0.3704, 0.4038],
         [0.4056, 0.3903, 0.2958, 0.3266],
         [0.3550, 0.3395, 0.2487, 0.2723],
         [0.3789, 0.3631, 0.2678, 0.2940],
         [0.4727, 0.4598, 0.3593, 0.3901],
         [0.5716, 0.5613, 0.4632, 0.4840],
         [0.5861, 0.5724, 0.4826, 0.4918],
         [0.5049, 0.4875, 0.4036, 0.4101],
         [0.3877, 0.3751, 0.2967, 0.2970],
         [0.3191, 0.3090, 0.2301, 0.2232],
         [0.3481, 0.3391, 0.2422, 0.2496],
         [0.4618, 0.4574, 0.3383, 0.3636]]], device='cuda:0',
       grad_fn=<SliceBackward>) 아이고 합치기
[[0.5443456  0.5352982  0.40639207 0.48763216]
 [0.6132897  0.60329753 0.47609112 0.54428315]
 [0.600174   0.58626664 0.46529236 0.53013283]
 [0.5295748  0.5185514  0.40662697 0.47404867]
 [0.4601141  0.45738545 0.3555248  0.41995186]
 [0.45524022 0.45841375 0.36252996 0.4206335 ]
 [0.5253214  0.5307549  0.4368088  0.48675483]] 1
[[ 2949.72020888  2891.0751344    687.80259436 75796.12881315]
 [ 3323.19037998  3258.20337313   805.59398717 84601.56310678]
 [ 3252.14261109  3166.25357234   787.34409577 82402.13618761]
 [ 2869.70675367  2800.65905851   688.19957858 73684.80756241]
 [ 2493.43803439  2470.4240478    601.8369258  65276.37685484]
 [ 2467.03627083  2475.97583589   613.6756379  65382.32600564]
 [ 2846.66615385  2866.54583371   739.20686311 75659.76421446]] 2
[[ 2949  2891   687 75796]
 [ 3323  3258   805 84601]
 [ 3252  3166   787 82402]
 [ 2869  2800   688 73684]
 [ 2493  2470   601 65276]
 [ 2467  2475   613 65382]
 [ 2846  2866   739 75659]] 3
     사용자    세션  신규방문자   페이지뷰
28  2949  2891    687  75796
29  3323  3258    805  84601
30  3252  3166    787  82402
31  2869  2800    688  73684
32  2493  2470    601  65276
33  2467  2475    613  65382
34  2846  2866    739  75659

 35

tensor([[[0.6497, 0.6525, 0.5513, 0.5859],
         [0.6711, 0.6619, 0.5712, 0.5984],
         [0.6163, 0.6010, 0.5174, 0.5493],
         [0.5081, 0.5024, 0.4194, 0.4603],
         [0.4012, 0.4116, 0.3256, 0.3683],
         [0.3680, 0.3901, 0.2967, 0.3377],
         [0.4351, 0.4681, 0.3606, 0.4086]]], device='cuda:0',
       grad_fn=<ViewBackward>) 아이후야 예측
tensor([[[0.3174, 0.2801, 0.1990, 0.2118],
         [0.3996, 0.3648, 0.2703, 0.2976],
         [0.4977, 0.4682, 0.3696, 0.4022],
         [0.5329, 0.5099, 0.4118, 0.4432],
         [0.4870, 0.4682, 0.3704, 0.4038],
         [0.4056, 0.3903, 0.2958, 0.3266],
         [0.3550, 0.3395, 0.2487, 0.2723],
         [0.3789, 0.3631, 0.2678, 0.2940],
         [0.4727, 0.4598, 0.3593, 0.3901],
         [0.5716, 0.5613, 0.4632, 0.4840],
         [0.5861, 0.5724, 0.4826, 0.4918],
         [0.5049, 0.4875, 0.4036, 0.4101],
         [0.3877, 0.3751, 0.2967, 0.2970],
         [0.3191, 0.3090, 0.2301, 0.2232],
         [0.3481, 0.3391, 0.2422, 0.2496],
         [0.4618, 0.4574, 0.3383, 0.3636],
         [0.5443, 0.5353, 0.4064, 0.4876],
         [0.6133, 0.6033, 0.4761, 0.5443],
         [0.6002, 0.5863, 0.4653, 0.5301],
         [0.5296, 0.5186, 0.4066, 0.4740],
         [0.4601, 0.4574, 0.3555, 0.4200],
         [0.4552, 0.4584, 0.3625, 0.4206],
         [0.5253, 0.5308, 0.4368, 0.4868]]], device='cuda:0',
       grad_fn=<SliceBackward>) 아이고 합치기
[[0.64966786 0.6524677  0.55129755 0.58585733]
 [0.6710614  0.6618529  0.57124066 0.598418  ]
 [0.61629194 0.60101795 0.51740503 0.5493453 ]
 [0.5081452  0.5024351  0.4194205  0.46027446]
 [0.40123284 0.41155604 0.32560927 0.36826202]
 [0.36797756 0.39010614 0.29668945 0.33770978]
 [0.4351493  0.46813318 0.36064675 0.40861595]] 1
[[ 3520.25079262  3523.67326164   932.69285178 91063.56264633]
 [ 3636.13958538  3574.34378666   966.39672136 93015.90458369]
 [ 3339.45344013  3245.89592266   875.41450596 85388.3902691 ]
 [ 2753.62261951  2713.64704096   709.8206628  71543.83981967]
 [ 2174.47828686  2222.99103448   551.27966082 57242.07097957]
 [ 1994.33444017  2107.18305832   502.40517175 52493.24493539]
 [ 2358.20382321  2528.45104602   610.49301511 63514.40245426]] 2
[[ 3520  3523   932 91063]
 [ 3636  3574   966 93015]
 [ 3339  3245   875 85388]
 [ 2753  2713   709 71543]
 [ 2174  2222   551 57242]
 [ 1994  2107   502 52493]
 [ 2358  2528   610 63514]] 3
     사용자    세션  신규방문자   페이지뷰
35  3520  3523    932  91063
36  3636  3574    966  93015
37  3339  3245    875  85388
38  2753  2713    709  71543
39  2174  2222    551  57242
40  1994  2107    502  52493
41  2358  2528    610  63514

 42

tensor([[[0.5714, 0.5927, 0.4744, 0.5101],
         [0.5569, 0.5703, 0.4694, 0.4942],
         [0.4474, 0.4548, 0.3639, 0.3898],
         [0.3309, 0.3338, 0.2527, 0.2679],
         [0.2793, 0.2694, 0.1934, 0.1956],
         [0.3105, 0.2936, 0.2081, 0.2185],
         [0.4084, 0.3941, 0.3004, 0.3204]]], device='cuda:0',
       grad_fn=<ViewBackward>) 아이후야 예측
tensor([[[0.3789, 0.3631, 0.2678, 0.2940],
         [0.4727, 0.4598, 0.3593, 0.3901],
         [0.5716, 0.5613, 0.4632, 0.4840],
         [0.5861, 0.5724, 0.4826, 0.4918],
         [0.5049, 0.4875, 0.4036, 0.4101],
         [0.3877, 0.3751, 0.2967, 0.2970],
         [0.3191, 0.3090, 0.2301, 0.2232],
         [0.3481, 0.3391, 0.2422, 0.2496],
         [0.4618, 0.4574, 0.3383, 0.3636],
         [0.5443, 0.5353, 0.4064, 0.4876],
         [0.6133, 0.6033, 0.4761, 0.5443],
         [0.6002, 0.5863, 0.4653, 0.5301],
         [0.5296, 0.5186, 0.4066, 0.4740],
         [0.4601, 0.4574, 0.3555, 0.4200],
         [0.4552, 0.4584, 0.3625, 0.4206],
         [0.5253, 0.5308, 0.4368, 0.4868],
         [0.6497, 0.6525, 0.5513, 0.5859],
         [0.6711, 0.6619, 0.5712, 0.5984],
         [0.6163, 0.6010, 0.5174, 0.5493],
         [0.5081, 0.5024, 0.4194, 0.4603],
         [0.4012, 0.4116, 0.3256, 0.3683],
         [0.3680, 0.3901, 0.2967, 0.3377],
         [0.4351, 0.4681, 0.3606, 0.4086]]], device='cuda:0',
       grad_fn=<SliceBackward>) 아이고 합치기
[[0.57135093 0.5927201  0.47437635 0.51010436]
 [0.5569408  0.57026345 0.46941748 0.49416488]
 [0.44737372 0.45480016 0.3638741  0.389813  ]
 [0.33091044 0.3338335  0.25270182 0.26792142]
 [0.2793274  0.2693609  0.19342706 0.19562238]
 [0.31046247 0.29357243 0.20808116 0.21853498]
 [0.4083822  0.39408964 0.3004446  0.3203729 ]] 1
[[ 3096.0079993   3201.09577316   802.69603258 79289.05070752]
 [ 3017.94828105  3079.85234159   794.31554562 76811.53042883]
 [ 2424.42343053  2456.46605703   615.94724184 60591.80494982]
 [ 1793.54187655  1803.36699006   428.06607401 41645.82975647]
 [ 1514.1164856   1455.2794987    327.89172477 30408.17409748]
 [ 1682.77522612  1585.99752712   352.65715367 33969.54696253]
 [ 2213.20641616  2128.68996197   508.75137901 49798.52241239]] 2
[[ 3096  3201   802 79289]
 [ 3017  3079   794 76811]
 [ 2424  2456   615 60591]
 [ 1793  1803   428 41645]
 [ 1514  1455   327 30408]
 [ 1682  1585   352 33969]
 [ 2213  2128   508 49798]] 3
     사용자    세션  신규방문자   페이지뷰
42  3096  3201    802  79289
43  3017  3079    794  76811
44  2424  2456    615  60591
45  1793  1803    428  41645
46  1514  1455    327  30408
47  1682  1585    352  33969
48  2213  2128    508  49798

 49

tensor([[[0.5041, 0.4914, 0.4000, 0.4170],
         [0.4939, 0.4810, 0.3963, 0.4087],
         [0.4098, 0.3951, 0.3142, 0.3273],
         [0.3312, 0.3124, 0.2367, 0.2440],
         [0.3201, 0.2950, 0.2173, 0.2243],
         [0.3885, 0.3629, 0.2755, 0.2933],
         [0.4934, 0.4716, 0.3812, 0.4019]]], device='cuda:0',
       grad_fn=<ViewBackward>) 아이후야 예측
tensor([[[0.3481, 0.3391, 0.2422, 0.2496],
         [0.4618, 0.4574, 0.3383, 0.3636],
         [0.5443, 0.5353, 0.4064, 0.4876],
         [0.6133, 0.6033, 0.4761, 0.5443],
         [0.6002, 0.5863, 0.4653, 0.5301],
         [0.5296, 0.5186, 0.4066, 0.4740],
         [0.4601, 0.4574, 0.3555, 0.4200],
         [0.4552, 0.4584, 0.3625, 0.4206],
         [0.5253, 0.5308, 0.4368, 0.4868],
         [0.6497, 0.6525, 0.5513, 0.5859],
         [0.6711, 0.6619, 0.5712, 0.5984],
         [0.6163, 0.6010, 0.5174, 0.5493],
         [0.5081, 0.5024, 0.4194, 0.4603],
         [0.4012, 0.4116, 0.3256, 0.3683],
         [0.3680, 0.3901, 0.2967, 0.3377],
         [0.4351, 0.4681, 0.3606, 0.4086],
         [0.5714, 0.5927, 0.4744, 0.5101],
         [0.5569, 0.5703, 0.4694, 0.4942],
         [0.4474, 0.4548, 0.3639, 0.3898],
         [0.3309, 0.3338, 0.2527, 0.2679],
         [0.2793, 0.2694, 0.1934, 0.1956],
         [0.3105, 0.2936, 0.2081, 0.2185],
         [0.4084, 0.3941, 0.3004, 0.3204]]], device='cuda:0',
       grad_fn=<SliceBackward>) 아이고 합치기
[[0.5041176  0.4914221  0.4000276  0.41698682]
 [0.4938908  0.48100737 0.3962573  0.40865815]
 [0.40982252 0.39514446 0.3141847  0.32726434]
 [0.3311897  0.3123762  0.23668411 0.24396574]
 [0.3201314  0.2950091  0.21727902 0.22432068]
 [0.3884931  0.36293983 0.2754597  0.2932683 ]
 [0.49342114 0.47161642 0.38116157 0.40187538]] 1

      DateTime   사용자    세션  신규방문자   페이지뷰
0   2020-11-09  2686  2746    650  66874
1   2020-11-10  3217  3285    848  81832
2   2020-11-11  2795  2813    722  69366
3   2020-11-12  1923  1922    460  45137
4   2020-11-13  1362  1287    287  26111
..         ...   ...   ...    ...    ...
56  2021-01-04  2280  2186    544  52778
57  2021-01-05  1893  1803    428  41187
58  2021-01-06  1895  1798    416  40527
59  2021-01-07  2355  2274    546  54143
60  2021-01-08  2952  2893    738  71303

[61 rows x 5 columns]

In [14]:
# 예측 및 제출파일 생성
# submission = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LSTM_pytorch(Dacon)/input/submission.csv", encoding = 'euc-kr')
# last_month = torch.tensor(window_x[-1,:,:][np.newaxis,...]).float().to(device)
for start in range((len(submission) - output_window)//7 + 2):
    start = start * 7
    next_week = model(last_month)
    last_month = torch.cat([last_month[-7:], next_week], axis = 1)
    
    pred_week = next_week.cpu().detach().numpy().reshape(output_window,4)
    pred_week = pred_week * size.values + mini.values
    pred_week = pred_week.astype(int)
    
    if start/7 == (len(submission) - output_window)//7 + 1:
        submission.iloc[start :, 1:] = pred_week[-submission.iloc[start :, 1:].shape[0]:,:]
    else:
        submission.iloc[start : start + output_window, 1:] = pred_week
submission

      DateTime   사용자    세션  신규방문자   페이지뷰
0   2020-11-09  3274  3210    829  79114
1   2020-11-10  2970  2873    735  70120
2   2020-11-11  2334  2259    556  53380
3   2020-11-12  1847  1802    423  39671
4   2020-11-13  1866  1827    414  39793
..         ...   ...   ...    ...    ...
56  2021-01-04  2256  2285    559  57347
57  2021-01-05  2103  2176    522  53609
58  2021-01-06  2517  2619    645  65851
59  2021-01-07  3127  3240    833  82795
60  2021-01-08  3398  3484    914  89628

[61 rows x 5 columns]

In [16]:
submission.to_csv('/content/drive/MyDrive/Colab Notebooks/LSTM_pytorch(Dacon)/input/제출1_GRU6.csv', index = False, encoding = 'euc-kr')

In [44]:
last_month = torch.tensor(window_x[-1,:,:][np.newaxis,...]).float().to(device)

In [45]:
last_month

tensor([[[1.7700e+02, 1.6600e+02, 4.0000e+01, 4.0460e+03],
         [1.4900e+02, 1.3800e+02, 2.1000e+01, 3.3930e+03],
         [1.2800e+02, 1.2900e+02, 3.2000e+01, 3.5970e+03],
         [1.2100e+02, 1.1800e+02, 3.0000e+01, 2.9140e+03],
         [1.4500e+02, 1.3800e+02, 2.7000e+01, 2.7160e+03],
         [1.6300e+02, 1.6200e+02, 2.7000e+01, 2.4030e+03],
         [1.2900e+02, 1.1900e+02, 2.7000e+01, 2.9460e+03],
         [1.5000e+02, 1.4900e+02, 3.1000e+01, 3.3650e+03],
         [1.2900e+02, 1.3300e+02, 2.2000e+01, 2.5710e+03],
         [9.1000e+01, 8.3000e+01, 1.6000e+01, 1.8230e+03],
         [6.2000e+01, 5.5000e+01, 1.2000e+01, 1.2710e+03],
         [3.0000e+01, 2.8000e+01, 8.0000e+00, 3.4500e+02],
         [1.7000e+01, 1.8000e+01, 1.0000e+00, 1.4800e+02],
         [1.9000e+01, 2.0000e+01, 5.0000e+00, 2.7500e+02],
         [1.7000e+01, 1.6000e+01, 7.0000e+00, 1.7000e+02],
         [1.6000e+01, 1.5000e+01, 3.0000e+00, 1.5700e+02],
         [2.2000e+01, 2.5000e+01, 7.0000e+00, 2.5200e+02],
         [4.3000e+01, 4.6000e+01, 1.1000e+01, 6.4000e+02],
         [9.0000e+01, 9.2000e+01, 2.2000e+01, 1.3740e+03],
         [1.1300e+02, 1.1400e+02, 3.1000e+01, 1.7890e+03],
         [1.1200e+02, 1.0200e+02, 3.0000e+01, 2.0210e+03],
         [1.3200e+02, 1.3000e+02, 3.2000e+01, 2.2420e+03],
         [1.3000e+02, 1.2900e+02, 2.8000e+01, 1.8430e+03],
         [1.7400e+02, 1.8100e+02, 3.4000e+01, 4.1910e+03]]], device='cuda:0')